/* Navbar.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
    color: white;
    height: 65px;

  }

  .avatar {
    width: 30px;
  }
  
  .logo {
    width: 100px;
   padding: 33px;
   cursor: pointer;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 10px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    padding: 5px;
  }
  
  .nav-links li a:hover {
    color: red;
  }
  
  .auth-buttons {
    display: flex;
    align-items: center;
  }
  
  .signup-button,
  .login-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
font-weight: bold;

  }
  
  .signup-button:hover,
  .login-button:hover {
    background-color: transparent;
 
  }
  

  